.back_fill {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 110vh;
  background-color: rgba(0, 0, 0, 0.7);
}

.full_token {
  background-color: var(--straight-light);
  position: fixed;
  width: 100vw;
  top: 110vh;
  height: 110vh;
  border-radius: 12px 12px 0 0;
  color: var(--straight-main);
  backdrop-filter: blur(14px);
}

.drageble_img {
  width: 26px;
  margin: 8px auto;
  height: 4px;
  background-color: var(--inverse-sign);
  border-radius: 2px;
  position: relative;
  margin-bottom: -8px;
}

.token_upbar_container {
  border-radius: 12px;
}
.token_upbar {
  box-sizing: border-box;
  padding: 20px 6px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 85vw;
  max-width: 500px;
  min-width: 315px;
}

.line_break_long {
  width: 100%;
  margin: auto;
}

.token_def_name {
  transition: all 0.3s ease-in;
  fill: var(--straight-bright);
  color: var(--straight-bright);
  display: flex;
  align-items: center;
  font-weight: 600;
  width: 50%;
}

.token_def_name:active {
  transition: all 0.1s ease-out;
  fill: var(--straight-disabled);
  color: var(--straight-disabled);
}

.token_def_name_value {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 90%;
}

.token_description {
  white-space: pre-line;
}

.share_button {
  margin-left: 4px;
  width: 20px;
  height: 20px;
}

.token_info_container {
  box-sizing: border-box;
  margin: auto;
  overflow-y: auto;
  width: 85vw;
  max-width: 500px;
  min-width: 315px;
  padding: 15px 6px 6px 6px;
}

.full_token_card {
  width: 100%;
}

.account_id_button {
  white-space: nowrap;
  font-weight: 500;
  color: var(--account-links);
}

.account_id_button:hover {
  color: var(--account-links-active);
}

.token_date {
  white-space: nowrap;
}

.token_price_value {
  font-weight: 900;
  font-size: 20px;
  color: var(--price);
}

.report_button {
  margin-bottom: 10px;
}
.burn_button {
  background: var(--button-burn-background);
  color: var(--palitra-warning);
  margin-bottom: 10px;
}
.burn_button_active,
.burn_button:active {
  background: var(--button-burn-background-active);
}

.darkin {
  animation-duration: 0.4s;
  animation-name: darkin;
  opacity: 0.8;
}

.darkout {
  transition: all 0.4s ease-out;
  opacity: 0;
}

.slidein {
  animation-duration: 0.4s;
  animation-name: slidein;
  top: 20vh;
}

.slidein .token_info_container {
  height: 80vh;
}

.slideout {
  transition: all 0.4s ease-out;
  top: 110vh;
}

@keyframes darkin {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}

@keyframes slidein {
  from {
    top: 110vh;
  }
  to {
    top: 20vh;
  }
}
