.toggle_switch label {
  -webkit-tap-highlight-color: transparent;
  position: relative;
  display: block;
  width: 48px;
  height: 18.75px;
  background: var(--inverse-night);
  border-color: var(--input-borders);
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  border-radius: 9.375px;
  transition: all 300ms ease-in-out;
}
.toggle_switch label:after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background: var(--button-disable-background);
  top: 50%;
  left: -1.2px;
  transform: translateY(-50%);
  border-radius: 50%;
  transition: all 300ms ease-in-out;
}
.toggle_switch input:checked + label:after {
  left: calc(50px - 25px);
}

.toggle_switch input:checked + label {
  background: var(--inverse-night);
}
.toggle_switch input:checked + label:after {
  background: var(--button-background);
}

.toggle_switch input {
  display: none;
}
