[Unit]
Description=db_actualize

[Service]
Type=simple
Restart=always
RestartSec=5s
ExecStart=/home/panda/be_positive/server_side/cmd/db_actualize/db_actualize
EnvironmentFile=/home/panda/be_positive/.env
EnvironmentFile=/home/panda/be_positive/neardev/dev-account.env

[Install]
WantedBy=multi-user.target
